<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>read article</title>
    <a name="rdartcl"></a>
</head>
<body>
        <div>
                <div class="">
                    <div >
                       
                    
                    </div>
                    <div class="">
                        <header class="align-center">
                            <p>
                                <%=author%>
                            </p>
                            <h2>
                                <%=name%>
                            </h2>
                        </header>
                        <p>
                            <%=shortTxt%>></p>
                        <p>
                            <%=longTxt%>></p>

                        <p>Date:
                            <%=date%>
                        </p>
                     
                    </div>
                </div>
            </div>
</body>
</html>